:root {
	--blue: #1A6DFF;
	--violet: #C822FF;
	--green: #15FF47;
	--light-blue: #6DC7FF;
	--light-violet: #E6ABFF;
	--white: #F8F8FF;
	--translucent-white: #F8F8FFCC;
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
	display: none;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Varela Round', sans-serif;
}

button {
	outline: none;
	border: none;
	padding: 0;
	background: transparent;
}

img {
	height: 100%;
	width: 100%;
}

a[href=""] {
	color: var(--light-blue);
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
}

/* Navbar */
nav {
	display: flex;
	align-items: center;
	height: 12vh;
	background: #FFFFFF;
	padding: 0 10vw;
}

nav .logo-container {
	width: 15vw;
	max-height: 60%;
	margin-right: auto;
}

.menu-button {
	display: none;
}

.nav-list {
	display: flex;
	align-items: center;
	height: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	background: linear-gradient(to bottom, var(--blue), var(--violet));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.list-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60%;
	width: 7.5vw;
	border-radius: 5px;
	margin: 0 3px;
}

.list-item:first-child {
	margin-left: 0;
}

.list-item:last-child {
	margin-right: 0;
}

.list-item a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
}

.list-item:hover, .list-item.active {
	background: -webkit-linear-gradient(bottom right, var(--blue), var(--violet));
	background: linear-gradient(to top left, var(--blue), var(--violet));
	-webkit-text-fill-color: var(--white);
}

/* Header and Slider */
header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.slider {
	position: relative;
}

.slide-wrapper {
	position: relative;
	height: 95vh;
}

.slide-selector {
	display: flex;
	justify-content: flex-end;
	height: 5vh;
}

.slide-cover {
	height: 95vh;
	width: 100%;
	position: absolute;
	top: 0;
	background: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	z-index: 1;
}

.slide-cover h1, .slide-cover h3 {
	text-align: center;
	color: var(--white);
	text-shadow: 0px 1px 5px rgba(150, 150, 150, 0.5);
}

.slide-wrapper::after {
	display: block;
	position: absolute;
	top: 0;
	height: 95vh;
	width: 100%;
	content: '';
	background: linear-gradient(to top left, var(--light-blue), var(--light-violet));
	opacity: 0.5;
}

.slide {
	display: none;
	position: relative;
	height: 100%;
	width: 100%;
}

.slide#slide-0 {
	background: url('../img/slides/img0.jpg');
	background-size: cover;
}

.slide#slide-1 {
	background: url('../img/slides/img1.jpg');
	background-size: cover
}

.slide#slide-2 {
	background: url('../img/slides/img2.jpg');
	background-size: cover
}

.slide.active {
	display: block;
}

.slide-selector input {
	-moz-appearance: none;
	-webkit-appearance: none;
	height: 1.2rem;
	width: 1.2rem;
	background: var(--light-violet);
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}

.slide-selector input:checked {
	background: var(--light-blue);
	position: relative;
	-webkit-box-shadow: inset 0px 0px 3px 1px rgba(200,200,200,0.5);
	-moz-box-shadow: inset 0px 0px 3px 1px rgba(200,200,200,0.5);
	box-shadow: inset 0px 0px 3px 1px rgba(200,200,200,0.5);
}

.slide-selector input:checked::after {
	content: '';
	position: absolute;
	display: block;
	top: 33%;
	left: 33%;
	height: 33%;
	width: 33%;
	border-radius: 50%;
	background-color: var(--white);
}
