:root {
	--blue: #1A6DFF;
	--violet: #C822FF;
	--green: #15FF47;
	--light-blue: #6DC7FF;
	--light-violet: #E6ABFF;
	--white: #F8F8FF;
	--translucent-white: #F8F8FFCC;
	--translucent-black: #27272722;
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
	display: none;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Varela Round', sans-serif;
}

button {
	outline: none;
	border: none;
	padding: 0;
	background: transparent;
}

img {
	height: 100%;
	width: 100%;
}

a[href=""] {
	color: var(--light-blue);
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
}

/* Navbar */
nav {
	display: flex;
	align-items: center;
	height: 12vh;
	background: #FFFFFF;
	padding: 0 7vw;
}

nav .logo-container {
	width: 15vw;
	max-height: 60%;
	margin-right: auto;
}

.menu-button {
	display: none;
}

.nav-list {
	display: flex;
	align-items: center;
	height: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	background: -webkit-linear-gradient(top, var(--blue), var(--violet));
	background: linear-gradient(to bottom, var(--blue), var(--violet));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60%;
	width: 7.5vw;
	border-radius: 5px;
	margin: 0 3px;
}

.nav-item:first-child {
	margin-left: 0;
}

.nav-item:last-child {
	margin-right: 0;
}

.nav-item a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
}

.nav-item:hover, .nav-item.active {
	background: -webkit-linear-gradient(bottom right, var(--blue), var(--violet));
	background: linear-gradient(to top left, var(--blue), var(--violet));
	-webkit-text-fill-color: var(--white);
}

/* Header and Slider */
header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.slider {
	position: relative;
}

.slide-wrapper {
	position: relative;
	height: 95vh;
}

.slide-selector {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 5vh;

}

.slide-cover {
	height: 95vh;
	width: 100%;
	position: absolute;
	top: 0;
	background: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	z-index: 1;
}

.slide-cover h1, .slide-cover h3 {
	text-align: center;
	color: var(--white);
	text-shadow: 0px 1px 5px rgba(150, 150, 150, 0.5);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slide-wrapper::after {
	display: block;
	position: absolute;
	top: 0;
	height: 95vh;
	width: 100%;
	content: '';
	background: -webkit-linear-gradient(bottom right, var(--light-blue), var(--light-violet));
	background: linear-gradient(to top left, var(--light-blue), var(--light-violet));
	opacity: 0.5;
}

.slide {
	opacity: 0;
	display: none;
	position: relative;
	height: 100%;
	width: 100%;
}

.slide#slide-0 {
	background: url('../img/slides/img0.jpg');
	background-size: cover;
}

.slide#slide-1 {
	background: url('../img/slides/img1.jpg');
	background-size: cover
}

.slide#slide-2 {
	background: url('../img/slides/img2.jpg');
	background-size: cover
}

.slide.active {
	opacity: 1;
	display: block;
}

.slide-selector input {
	-moz-appearance: none;
	-webkit-appearance: none;
	height: 1.2rem;
	width: 1.2rem;
	background: var(--light-violet);
	border: none;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	margin: 0 0.4rem;
}

.slide-selector input:checked {
	background: var(--light-blue);
	position: relative;
	-webkit-box-shadow: inset 0px 0px 3px 1px rgba(200,200,200,0.5);
	-moz-box-shadow: inset 0px 0px 3px 1px rgba(200,200,200,0.5);
	box-shadow: inset 0px 0px 3px 1px rgba(200,200,200,0.5);
}

.slide-selector input:checked::after {
	content: '';
	position: absolute;
	display: block;
	top: 33%;
	left: 33%;
	height: 33%;
	width: 33%;
	border-radius: 50%;
	background-color: var(--white);
}

 /* Main */
main {
	 padding: 0 7vw;
 }

 section {
 	margin: 7vh 0;
 }

section#introduction {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.introduction-item {
	width: 25%;
	background: #FFFFFF;
	margin: 1vw;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(200, 200, 200, 0.2);
	-moz-box-shadow: 0px 0px 10px 1px rgba(200, 200, 200, 0.2);
	box-shadow: 0px 0px 10px 1px rgba(200, 200, 200, 0.2);
	padding: 3%;
}

.introduction-item figure {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

.introduction-item figure img {
	width: 70%;
	height: 20vh;
}

.introduction-item figure figcaption {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

/* Courses */
.courses-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.course {
	width: 30%;
	box-sizing: border-box;
	border-radius: 5px;
}

.course figure {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.course figcaption {
	text-align: justify;
}

/* About Us */
.about-upcoming-wrapper {
	display: flex;
	justify-content: space-between;
	text-align: justify;
}

.about-upcoming-wrapper section h2 {
	margin-top: 0;
}

.about-upcoming-wrapper section#about {
	width: 65%;
}

.about-upcoming-wrapper section#upcoming-courses {
	width: 30%;
}

.about-upcoming-wrapper section#upcoming-courses ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.up-course {
	padding: 1% 0;
	border-bottom: 1px dashed var(--translucent-black);
}

.up-course:first-child {
	border-top: 1px dashed var(--translucent-black);
}

/* Footer */
footer {
	padding: 3% 7vw;
	padding-bottom: 1%;
	overflow: hidden;
	background: -webkit-linear-gradient(top left, var(--blue), var(--violet));
	background: linear-gradient(to bottom right, var(--blue), var(--violet));
}

footer #summary {
	display: flex;
	min-height: 35vh;
}

.summary-item {
	width: 25%;
}

.summary-item h3{
	color: var(--white);
}

.summary-item i {
	margin-right: 0.3rem;
}

.summary-item ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.summary-item li {
	padding: 0.5rem 0;
}

.summary-item li a {
	display: flex;
	align-items: center;
	color: var(--translucent-white);
	font-weight: 400;
	font-size: 1rem;
	text-transform: initial;
	text-decoration: none;
}

.summary-item:last-child li {
	padding: 0.25rem 0;
}

.summary-item:last-child p {
	margin: 0.5rem 0;
	color: var(--light-violet);
}

footer #social-media {
	height: 7vh;
	display: flex !important;
	justify-content: center;
}

footer #social-media a {
	box-sizing: border-box;
	background-color: #FFFFFF;
	width: 7vh;
	padding: 1%;
	border-radius: 50%;
	margin: 0 0.3rem;
}

#footer-nav {
	background: -webkit-linear-gradient(top, var(--blue), var(--violet));
	background: linear-gradient(to bottom, var(--blue), var(--violet));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	height: 2rem;
	padding: 1% 7vw;
	display: flex;
	color: var(--white);
}

#footer-nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-right: auto;
}

#footer-nav li {
	width: 6vw;
	text-align: center;
	border-right: 1px solid var(--translucent-white);
	font-size: 0.9rem;
}

#footer-nav li:first-child {
	padding-left: 0;
	width: 4vw;
	text-align: left;
}

#footer-nav li a {
	color: var(--white);
	text-transform: initial;
	font-weight: 400;
	font-size: 0.9rem;
	text-decoration: none;
}

/* Responsive Queries */
/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* Tablet general */
	button, input {
		cursor: default !important;
	}

	/* Tablet Navbar */
	nav .logo-container {
		width: 23vw;
		position: relative;
		top: 1.5px;
	}

	nav .nav-item {
		width: auto;
		padding: 0 0.3rem;
		margin: 0;
		-webkit-text-fill-color: var(--blue);
	}

	/* Tablet Header */
	.slide-selector {
		height: 10vh;
	}

	.slide-selector input {
		height: 5vh;
		width: 5vh;
	}

	/* Tablet Main */
	section#introduction {
		flex-wrap: wrap;
	}

	section#introduction .introduction-item {
		width: 40%;
		margin-bottom: 3%;
	}

	.about-upcoming-wrapper {
		flex-direction: column;
	}

	.about-upcoming-wrapper section#about {
		width: 100%;
		margin: 2vh 0;
	}

	.about-upcoming-wrapper section#upcoming-courses {
		width: 100%;
	}

	/* Tablet Footer */
	footer {
		font-size: 0.9rem;
	}

	#footer-nav {
		-webkit-text-fill-color: var(--blue) !important;
	}

	#footer-nav li {
		width: auto;
		padding: 0 0.6rem;
	}

	#footer-nav li a {
		-webkit-text-fill-color: var(--blue);
	}
}
